@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
*{
    margin: 0%;
    padding: 0%;
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c2c2d6;    
}

.calculator {
    background-color: black;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .display {
    background-color: black;
    border-radius: 4px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    color: white;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .keypad{
    display: flex;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    
  }
  .key{
    border: none;
    width: 70px;
    height: 57px;
    outline: 0.1px solid black;
    font-size: 20px;
    font-family: 'Agdasima', sans-serif;
    font-weight: 800;
    background: #4d4d4d;
    color: lightgray;
    cursor: pointer;
  }
  
  .key:active{
    outline: 0.1px solid white;
    width: 72px;
    height: 59px;
    position: sticky;
  }